@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
#id-FRAME-134-2872{
transform: rotate(0deg);
position: relative;
width: 1440px;
height: 5908px;
left: 0px;
top: 0px;
opacity: 1;
overflow: hidden;
overflow: hidden;
}
#id-FRAME-134-2873{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 904px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-2874{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 76px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-2875{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 40px;
left: 112px;
top: 18px;
opacity: 1;
}
#id-FRAME-134-2876{
transform: rotate(0deg);
position: absolute;
width: 200px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2881{
transform: rotate(0deg);
position: absolute;
width: 150.2421875px;
height: 25.140625px;
left: 46px;
top: 7.185791015625px;
opacity: 1;
}
#id-FRAME-134-2883{
transform: rotate(0deg);
position: absolute;
width: 514px;
height: 40px;
left: 702px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2884{
transform: rotate(0deg);
position: absolute;
width: 514px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2885{
transform: rotate(0deg);
position: absolute;
width: 46px;
height: 24px;
left: 0px;
top: 8px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2891{
transform: rotate(0deg);
position: absolute;
width: 67px;
height: 24px;
left: 70px;
top: 8px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2897{
transform: rotate(0deg);
position: absolute;
width: 69px;
height: 24px;
left: 161px;
top: 8px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2903{
transform: rotate(0deg);
position: absolute;
width: 44px;
height: 24px;
left: 254px;
top: 8px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2909{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 24px;
left: 322px;
top: 8px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2915{
transform: rotate(0deg);
position: absolute;
width: 106px;
height: 40px;
left: 408px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2921{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 828px;
left: 0px;
top: 76px;
opacity: 1;
}
#id-FRAME-134-2922{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 764px;
left: 112px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-2923{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 700px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-2924{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 424px;
left: 0px;
top: 138px;
opacity: 1;
}
#id-FRAME-134-2925{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 384px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2926{
transform: rotate(0deg);
position: absolute;
width: 274px;
height: 6px;
left: 174px;
top: 115px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2928{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 192px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2931{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 128px;
left: 0px;
top: 256px;
opacity: 1;
}
#id-FRAME-134-2932{
transform: rotate(0deg);
position: absolute;
width: 282px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2933{
transform: rotate(0deg);
position: absolute;
width: 117px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2939{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 40px;
left: 129px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: 128px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-2940{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 10px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-2945{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 64px;
left: 0px;
top: 64px;
opacity: 1;
}
#id-FRAME-134-2947{
transform: rotate(0deg);
position: absolute;
width: 140px;
height: 28px;
left: 0px;
top: 36px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2948{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2950{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 28px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2952{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 56px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2954{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 84px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2956{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 112px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-2958{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 700px;
left: 624px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2960{
transform: rotate(7.951386703658792e-16deg);
position: absolute;
width: 320px;
height: 190px;
left: 66px;
top: 490px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:18px;
border-top-left-radius:18px;
border-top-right-radius:18px;
border-bottom-left-radius:18px;
border-bottom-right-radius:18px;
overflow: hidden;
}
#id-FRAME-134-2962{
transform: rotate(0deg);
position: absolute;
width: 320px;
height: 190px;
left: 0px;
top: 0px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-2964{
transform: rotate(0deg);
position: absolute;
width: 240px;
height: 240px;
left: 53px;
top: 122px;
opacity: 0.30000001192092896;
background: rgba(255,255,255,1.00);
border-radius:400px;
border-top-left-radius:400px;
border-top-right-radius:400px;
border-bottom-left-radius:400px;
border-bottom-right-radius:400px;
overflow: hidden;
}
#id-FRAME-134-2965{
transform: rotate(0deg);
position: absolute;
width: 240px;
height: 240px;
left: 166px;
top: 43px;
opacity: 0.30000001192092896;
background: rgba(255,255,255,1.00);
border-radius:400px;
border-top-left-radius:400px;
border-top-right-radius:400px;
border-bottom-left-radius:400px;
border-bottom-right-radius:400px;
overflow: hidden;
}
#id-FRAME-134-2966{
transform: rotate(0deg);
position: absolute;
width: 183px;
height: 50px;
left: 18px;
top: 122px;
opacity: 1;
}
#id-FRAME-134-2968{
transform: rotate(0deg);
position: absolute;
width: 154px;
height: 20px;
left: 0px;
top: 30px;
opacity: 1;
}
#id-FRAME-134-2971{
transform: rotate(0deg);
position: absolute;
width: 35px;
height: 27px;
left: 18px;
top: 52px;
opacity: 1;
}
.RECTANGLE-134-2981{
position:absolute;
left: 11px;
top: 8px;
transform: rotate(0deg);
transform-origin: center !important;

border:1px solid rgba(153,102,0,1.00);

border-radius:1px;
border-top-left-radius:1px;
border-top-right-radius:1px;
border-bottom-left-radius:1px;
border-bottom-right-radius:1px;


width: 11px;
height: 9px;
opacity: 1;
}
#id-FRAME-134-2982{
transform: rotate(0deg);
position: absolute;
width: 58px;
height: 40px;
left: 246px;
top: 142px;
opacity: 1;
border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
}
#id-FRAME-134-2989{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1056px;
left: 0px;
top: 904px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-2990{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1056px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2991{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 896px;
left: 112px;
top: 80px;
opacity: 1;
}
#id-FRAME-134-2992{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 196px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-2993{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 116px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-134-2994{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 116px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-2995{
transform: rotate(0deg);
position: absolute;
width: 107px;
height: 24px;
left: 554.5px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-2997{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 84px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-2998{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 84px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3020{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 700px;
left: 0px;
top: 196px;
opacity: 1;
}
#id-FRAME-134-3021{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 564px;
left: 0px;
top: 68px;
opacity: 1;
}
#id-FRAME-134-3022{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 188px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3023{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3024{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-134-3025{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3027{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-134-3036{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 188px;
left: 0px;
top: 188px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3037{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3038{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-134-3039{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3041{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-134-3050{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 188px;
left: 0px;
top: 376px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3051{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3052{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-134-3053{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3055{
transform: rotate(0deg);
position: absolute;
width: 544px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-134-3064{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 700px;
left: 624px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3065{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 700px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3066{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 562px;
left: 0px;
top: 69px;
opacity: 1;
}
#id-FRAME-134-3067{
transform: rotate(0deg);
position: absolute;
width: 280px;
height: 562px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3070{
transform: rotate(0deg);
position: absolute;
width: 280px;
height: 562px;
left: 312px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3073{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 396px;
left: 0px;
top: 1960px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3074{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 396px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3075{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 396px;
left: 112px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3076{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 396px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3077{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 152px;
left: 0px;
top: 80px;
opacity: 1;
}
#id-FRAME-134-3078{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 84px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3081{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 36px;
left: 312px;
top: 116px;
opacity: 1;
}
#id-FRAME-134-3082{
transform: rotate(0deg);
position: absolute;
width: 184px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3083{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-134-3084{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3087{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 36px;
left: 216px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3088{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-134-3089{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3092{
transform: rotate(0deg);
position: absolute;
width: 191px;
height: 36px;
left: 401px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3093{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-134-3094{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3097{
transform: rotate(0deg);
position: absolute;
width: 307px;
height: 44px;
left: 454.5px;
top: 272px;
opacity: 1;
}
#id-FRAME-134-3098{
transform: rotate(0deg);
position: absolute;
width: 129px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3104{
transform: rotate(0deg);
position: absolute;
width: 166px;
height: 44px;
left: 141px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3105{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 12px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3110{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1248px;
left: 0px;
top: 2356px;
opacity: 1;
}
#id-FRAME-134-3111{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1248px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3112{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 192px;
left: 112px;
top: 80px;
opacity: 1;
}
#id-FRAME-134-3113{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 192px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3114{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-134-3115{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3118{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3119{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3122{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 896px;
left: 320px;
top: 272px;
opacity: 1;
}
#id-FRAME-134-3123{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 636px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3124{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 92px;
left: 0px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3125{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3127{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3129{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 204px;
left: 0px;
top: 108px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 107px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3130{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 140px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3131{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 28px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3133{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3136{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 92px;
left: 0px;
top: 328px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 327px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3137{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3139{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3141{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 92px;
left: 0px;
top: 436px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 435px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3142{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3144{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3146{
transform: rotate(0deg);
position: absolute;
width: 800px;
height: 92px;
left: 0px;
top: 544px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 543px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3147{
transform: rotate(0deg);
position: absolute;
width: 736px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3149{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3151{
transform: rotate(0deg);
position: absolute;
width: 527px;
height: 220px;
left: 136.5px;
top: 676px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:20px;
border-top-left-radius:20px;
border-top-right-radius:20px;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}
#id-FRAME-134-3152{
transform: rotate(0deg);
position: absolute;
width: 463px;
height: 80px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3155{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 44px;
left: 187px;
top: 144px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3156{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 12px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3161{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1011px;
left: 0px;
top: 3604px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3162{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 1011px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3163{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 851px;
left: 112px;
top: 80px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3164{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 224px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3165{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 144px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-134-3166{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 144px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3167{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 583px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3169{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-134-3170{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3192{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 627px;
left: 0px;
top: 224px;
opacity: 1;
}
#id-FRAME-134-3193{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 507px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3194{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 475px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3196{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 262px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3197{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 214px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3198{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3200{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3203{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 166px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-134-3204{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 122px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3207{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 20px;
left: 0px;
top: 146px;
opacity: 1;
}
#id-FRAME-134-3208{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3210{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3212{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3214{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3216{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 507px;
left: 416px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3218{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 294px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3219{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 246px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3220{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3222{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3225{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 198px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-134-3226{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 154px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3229{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 20px;
left: 0px;
top: 178px;
opacity: 1;
}
#id-FRAME-134-3230{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3232{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3234{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3236{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3238{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 475px;
left: 832px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3240{
transform: rotate(0deg);
position: absolute;
width: 384px;
height: 262px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-134-3241{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 214px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-134-3242{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3244{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3247{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 166px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-134-3248{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 122px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3251{
transform: rotate(0deg);
position: absolute;
width: 352px;
height: 20px;
left: 0px;
top: 146px;
opacity: 1;
}
#id-FRAME-134-3252{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3254{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3256{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3258{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-134-3260{
transform: rotate(0deg);
position: absolute;
width: 130px;
height: 48px;
left: 543px;
top: 539px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3266{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 500px;
left: 0px;
top: 4615px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3267{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 500px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3268{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 372px;
left: 112px;
top: 64px;
opacity: 1;
}
#id-FRAME-134-3269{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 372px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:32px;
border-top-left-radius:32px;
border-top-right-radius:32px;
border-bottom-left-radius:32px;
border-bottom-right-radius:32px;
overflow: hidden;
}
#id-FRAME-134-3270{
transform: rotate(0deg);
position: absolute;
width: 692px;
height: 244px;
left: 64px;
top: 64px;
opacity: 1;
}
#id-FRAME-134-3271{
transform: rotate(0deg);
position: absolute;
width: 692px;
height: 160px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3274{
transform: rotate(0deg);
position: absolute;
width: 492px;
height: 44px;
left: 0px;
top: 200px;
opacity: 1;
}
#id-FRAME-134-3275{
transform: rotate(0deg);
position: absolute;
width: 357px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3276{
transform: rotate(0deg);
position: absolute;
width: 357px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3278{
transform: rotate(0deg);
position: absolute;
width: 357px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3279{
transform: rotate(0deg);
position: absolute;
width: 337px;
height: 24px;
left: 12px;
top: 10px;
opacity: 1;
}
#id-FRAME-134-3286{
transform: rotate(0deg);
position: absolute;
width: 119px;
height: 44px;
left: 373px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3292{
transform: rotate(6.3611093629270335e-15deg);
position: absolute;
width: 453px;
height: 397px;
left: 813px;
top: -11.999999999999972px;
opacity: 0.3499999940395355;
background: transparent;
}
#id-FRAME-134-3294{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 396px;
left: 0px;
top: 5115px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3295{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 396px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3296{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 236px;
left: 112px;
top: 80px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3297{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 124px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3298{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 44px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-134-3299{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3302{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3303{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3306{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 112px;
left: 0px;
top: 124px;
opacity: 1;
}
#id-FRAME-134-3307{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3308{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3309{
transform: rotate(0deg);
position: absolute;
width: 163.17047119140625px;
height: 32px;
left: 98.41476440429688px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3312{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 285.3333435058594px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3313{
transform: rotate(0deg);
position: absolute;
width: 189.3333282470703px;
height: 32px;
left: 85.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3316{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 570.6666870117188px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3317{
transform: rotate(0deg);
position: absolute;
width: 173.3333282470703px;
height: 32px;
left: 93.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3320{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 856px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3321{
transform: rotate(0deg);
position: absolute;
width: 148px;
height: 32px;
left: 106px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3324{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 32px;
left: 0px;
top: 80px;
opacity: 1;
}
#id-FRAME-134-3325{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3326{
transform: rotate(0deg);
position: absolute;
width: 157.3333282470703px;
height: 32px;
left: 101.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3329{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 285.3333435058594px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3330{
transform: rotate(0deg);
position: absolute;
width: 181.3333282470703px;
height: 32px;
left: 89.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3333{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 570.6666870117188px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3334{
transform: rotate(0deg);
position: absolute;
width: 174.6666717529297px;
height: 32px;
left: 92.66666412353516px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3337{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 856px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3338{
transform: rotate(0deg);
position: absolute;
width: 213.3333282470703px;
height: 32px;
left: 73.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3341{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 397px;
left: 0px;
top: 5511px;
opacity: 1;
}
#id-FRAME-134-3342{
transform: rotate(0deg);
position: absolute;
width: 1440px;
height: 397px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-134-3343{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 397px;
left: 112px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3344{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 228px;
left: 0px;
top: 40px;
opacity: 1;
}
#id-FRAME-134-3345{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 168px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3346{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3347{
transform: rotate(0deg);
position: absolute;
width: 200px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3352{
transform: rotate(0deg);
position: absolute;
width: 150.2421875px;
height: 25.140625px;
left: 46px;
top: 7.185791015625px;
opacity: 1;
}
#id-FRAME-134-3355{
transform: rotate(0deg);
position: absolute;
width: 132px;
height: 24px;
left: 0px;
top: 144px;
opacity: 1;
}
#id-FRAME-134-3356{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-134-3357{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-134-3358{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-134-3359{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-134-3361{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 36px;
top: 0px;
opacity: 1;
}
.ELLIPSE-134-3362{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:50%;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-134-3364{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 72px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-134-3366{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 108px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-134-3367{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:56px;
border-top-left-radius:56px;
border-top-right-radius:56px;
border-bottom-left-radius:56px;
border-bottom-right-radius:56px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-134-3369{
transform: rotate(0deg);
position: absolute;
width: 763px;
height: 228px;
left: 453px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3370{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 228px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3372{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-134-3373{
transform: rotate(0deg);
position: absolute;
width: 53px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3379{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3385{
transform: rotate(0deg);
position: absolute;
width: 67px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3391{
transform: rotate(0deg);
position: absolute;
width: 64px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3397{
transform: rotate(0deg);
position: absolute;
width: 65px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3403{
transform: rotate(0deg);
position: absolute;
width: 84px;
height: 228px;
left: 180px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3405{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-134-3406{
transform: rotate(0deg);
position: absolute;
width: 47px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3412{
transform: rotate(0deg);
position: absolute;
width: 61px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3418{
transform: rotate(0deg);
position: absolute;
width: 44px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3424{
transform: rotate(0deg);
position: absolute;
width: 34px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3430{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3436{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 188px;
left: 343px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3438{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 144px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-134-3439{
transform: rotate(0deg);
position: absolute;
width: 92px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3445{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3451{
transform: rotate(0deg);
position: absolute;
width: 100px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3457{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3463{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 172px;
left: 525px;
top: 0px;
opacity: 1;
}
#id-FRAME-134-3465{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 128px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-134-3466{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3467{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3472{
transform: rotate(0deg);
position: absolute;
width: 163px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3473{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3478{
transform: rotate(0deg);
position: absolute;
width: 226px;
height: 48px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-134-3479{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 14px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-134-3484{
transform: rotate(-9.826939576278036e-14deg);
position: absolute;
width: 1216px;
height: 1px;
left: 0px;
top: 299.999999999999px;
opacity: 1;
background: rgba(228,231,236,1.00);
}
#id-FRAME-134-3485{
transform: rotate(0deg);
position: absolute;
width: 1216px;
height: 24px;
left: 0px;
top: 333px;
opacity: 1;
}
#id-FRAME-134-3487{
transform: rotate(0deg);
position: absolute;
width: 265px;
height: 24px;
left: 951px;
top: 0px;
opacity: 1;
}
