@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
#id-FRAME-147-3947{
transform: rotate(0deg);
position: relative;
width: 375px;
height: 8158px;
left: 0px;
top: 0px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3948{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 926px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
overflow: hidden;
}
#id-FRAME-147-3949{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 56px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3950{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 56px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3951{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 40px;
left: 16px;
top: 8px;
opacity: 1;
}
#id-FRAME-147-3952{
transform: rotate(0deg);
position: absolute;
width: 35.999996185302734px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3957{
transform: rotate(0deg);
position: absolute;
width: 156px;
height: 40px;
left: 187px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3958{
transform: rotate(0deg);
position: absolute;
width: 108px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3959{
transform: rotate(0deg);
position: absolute;
width: 108px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3965{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 120px;
top: 2px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: 119px !important;
top: 1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3966{
transform: rotate(0deg);
position: absolute;
width: 21.599998474121094px;
height: 21.599998474121094px;
left: 7.199999809265137px;
top: 7.199999809265137px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3968{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 870px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-3969{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 822px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-3970{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 432px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3971{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 432px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3972{
transform: rotate(0deg);
position: absolute;
width: 215px;
height: 6px;
left: -6px;
top: 127px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3974{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 220px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3977{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 180px;
left: 0px;
top: 252px;
opacity: 1;
}
#id-FRAME-147-3978{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 92px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3979{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3985{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 40px;
left: 0px;
top: 52px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 51px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3986{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 115px;
top: 10px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3991{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 64px;
left: 0px;
top: 116px;
opacity: 1;
}
#id-FRAME-147-3993{
transform: rotate(0deg);
position: absolute;
width: 140px;
height: 28px;
left: 0px;
top: 36px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3994{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3996{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 28px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3998{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 56px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4000{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 84px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4002{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 112px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4004{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 342px;
left: -16px;
top: 480px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4006{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1282px;
left: 0px;
top: 926px;
opacity: 1;
background: rgba(255,255,255,1.00);
overflow: hidden;
}
#id-FRAME-147-4007{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1282px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4008{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 1186px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4009{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 172px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4010{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 124px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4011{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 124px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4012{
transform: rotate(0deg);
position: absolute;
width: 107px;
height: 24px;
left: 118px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4014{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 92px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-4015{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 92px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4035{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 990px;
left: 0px;
top: 196px;
opacity: 1;
}
#id-FRAME-147-4036{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 636px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4037{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 212px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4038{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 164px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-4039{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-4040{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4042{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 108px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-4051{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 212px;
left: 0px;
top: 212px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4052{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 164px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-4053{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-4054{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4056{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 108px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-4065{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 212px;
left: 0px;
top: 424px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4066{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 164px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-4067{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-4068{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4070{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 108px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-4079{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 330px;
left: 0px;
top: 660px;
opacity: 1;
}
#id-FRAME-147-4080{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 360px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4081{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 328px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4082{
transform: rotate(0deg);
position: absolute;
width: 147.5px;
height: 328px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4085{
transform: rotate(0deg);
position: absolute;
width: 147.5px;
height: 328px;
left: 163.5px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4088{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 584px;
left: 0px;
top: 2208px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4089{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 584px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4090{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 488px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4091{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 488px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4092{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 356px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4093{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 192px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4096{
transform: rotate(0deg);
position: absolute;
width: 175px;
height: 132px;
left: 84px;
top: 224px;
opacity: 1;
}
#id-FRAME-147-4097{
transform: rotate(0deg);
position: absolute;
width: 168px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4098{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-4099{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4102{
transform: rotate(0deg);
position: absolute;
width: 141px;
height: 36px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4103{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-4104{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4107{
transform: rotate(0deg);
position: absolute;
width: 175px;
height: 36px;
left: 0px;
top: 96px;
opacity: 1;
}
#id-FRAME-147-4108{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-4109{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4112{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 92px;
left: 0px;
top: 396px;
opacity: 1;
}
#id-FRAME-147-4113{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4119{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 40px;
left: 0px;
top: 52px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4120{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 115px;
top: 10px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4125{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1232px;
left: 0px;
top: 2792px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4126{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1232px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4127{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 1136px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4128{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 200px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4129{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 152px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4130{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 152px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4133{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 152px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4134{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 152px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4137{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 668px;
left: 0px;
top: 224px;
opacity: 1;
}
#id-FRAME-147-4138{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 88px;
left: 0px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4139{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 56px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4141{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 287px;
top: 16px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4143{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 296px;
left: 0px;
top: 100px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 99px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4144{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 264px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4145{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 56px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4147{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 287px;
top: 16px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4150{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 60px;
left: 0px;
top: 408px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 407px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4151{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 28px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4153{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 287px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4155{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 88px;
left: 0px;
top: 480px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 479px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4156{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 56px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4158{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 287px;
top: 16px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4160{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 88px;
left: 0px;
top: 580px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 579px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4161{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 56px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4163{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 287px;
top: 16px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4165{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 220px;
left: 0px;
top: 916px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:20px;
border-top-left-radius:20px;
border-top-right-radius:20px;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}
#id-FRAME-147-4166{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 100px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-4169{
transform: rotate(0deg);
position: absolute;
width: 295px;
height: 40px;
left: 24px;
top: 156px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4170{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 96.5px;
top: 10px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4175{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1765px;
left: 0px;
top: 4024px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4176{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1765px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4177{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 1669px;
left: 16px;
top: 48px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4178{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 196px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4179{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 148px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4180{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 148px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4181{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 146.5px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4183{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 116px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-4184{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 116px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4204{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 1473px;
left: 0px;
top: 196px;
opacity: 1;
}
#id-FRAME-147-4205{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 467px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4207{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 254px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4208{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 222px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4209{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4211{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4214{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 174px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4215{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 138px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4218{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 20px;
left: 0px;
top: 154px;
opacity: 1;
}
#id-FRAME-147-4219{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4221{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4223{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4225{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4227{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 471px;
left: 0px;
top: 483px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4229{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 258px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4230{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 226px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4231{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4233{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4236{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 178px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4237{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 142px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4240{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 20px;
left: 0px;
top: 158px;
opacity: 1;
}
#id-FRAME-147-4241{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4243{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4245{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4247{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4249{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 443px;
left: 0px;
top: 970px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4251{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 230px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-4252{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 198px;
left: 16px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4253{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4255{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4258{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 150px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4259{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 114px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4262{
transform: rotate(0deg);
position: absolute;
width: 311px;
height: 20px;
left: 0px;
top: 130px;
opacity: 1;
}
#id-FRAME-147-4263{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4265{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4267{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4269{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-4271{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 44px;
left: 0px;
top: 1429px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4277{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 416px;
left: 0px;
top: 5789px;
opacity: 1;
background: rgba(239,245,255,1.00);
overflow: hidden;
}
#id-FRAME-147-4278{
transform: rotate(6.3611093629270335e-15deg);
position: absolute;
width: 634px;
height: 555px;
left: 26.999999999999943px;
top: -68.99999999999994px;
opacity: 0.3499999940395355;
background: transparent;
}
#id-FRAME-147-4280{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 416px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4281{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 320px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4282{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 196px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4283{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 196px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4286{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 100px;
left: 0px;
top: 220px;
opacity: 1;
}
#id-FRAME-147-4287{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4288{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4290{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4291{
transform: rotate(0deg);
position: absolute;
width: 323px;
height: 24px;
left: 12px;
top: 10px;
opacity: 1;
}
#id-FRAME-147-4298{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 44px;
left: 0px;
top: 56px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4304{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 880px;
left: 0px;
top: 6205px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4305{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 880px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4306{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 784px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4307{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 84px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4308{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 36px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-4309{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4312{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4313{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4316{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 676px;
left: 0px;
top: 108px;
opacity: 1;
}
#id-FRAME-147-4317{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 676px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4318{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 676px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4319{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4320{
transform: rotate(0deg);
position: absolute;
width: 163.17047119140625px;
height: 32px;
left: 98.41476440429688px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4323{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 92px;
opacity: 1;
}
#id-FRAME-147-4324{
transform: rotate(0deg);
position: absolute;
width: 189.3333282470703px;
height: 32px;
left: 85.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4327{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 184px;
opacity: 1;
}
#id-FRAME-147-4328{
transform: rotate(0deg);
position: absolute;
width: 173.3333282470703px;
height: 32px;
left: 93.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4331{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 276px;
opacity: 1;
}
#id-FRAME-147-4332{
transform: rotate(0deg);
position: absolute;
width: 148px;
height: 32px;
left: 106px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4335{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 368px;
opacity: 1;
}
#id-FRAME-147-4336{
transform: rotate(0deg);
position: absolute;
width: 157.3333282470703px;
height: 32px;
left: 101.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4339{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 460px;
opacity: 1;
}
#id-FRAME-147-4340{
transform: rotate(0deg);
position: absolute;
width: 181.3333282470703px;
height: 32px;
left: 89.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4343{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 552px;
opacity: 1;
}
#id-FRAME-147-4344{
transform: rotate(0deg);
position: absolute;
width: 174.6666717529297px;
height: 32px;
left: 92.66666412353516px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4347{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 644px;
opacity: 1;
}
#id-FRAME-147-4348{
transform: rotate(0deg);
position: absolute;
width: 213.3333282470703px;
height: 32px;
left: 73.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4351{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1073px;
left: 0px;
top: 7085px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-4352{
transform: rotate(0deg);
position: absolute;
width: 375px;
height: 1073px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4353{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 977px;
left: 16px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-4354{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 977px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4355{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 168px;
left: 13.5px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4356{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4357{
transform: rotate(0deg);
position: absolute;
width: 200px;
height: 40px;
left: 58px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4362{
transform: rotate(0deg);
position: absolute;
width: 150.2421875px;
height: 25.140625px;
left: 46px;
top: 7.185791015625px;
opacity: 1;
}
#id-FRAME-147-4365{
transform: rotate(0deg);
position: absolute;
width: 132px;
height: 24px;
left: 92px;
top: 144px;
opacity: 1;
}
#id-FRAME-147-4366{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-147-4367{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-147-4368{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-147-4369{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-4371{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 36px;
top: 0px;
opacity: 1;
}
.ELLIPSE-147-4372{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:50%;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-4374{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 72px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-4376{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 108px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-147-4377{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:56px;
border-top-left-radius:56px;
border-top-right-radius:56px;
border-bottom-left-radius:56px;
border-bottom-right-radius:56px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-4379{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 652px;
left: 0px;
top: 200px;
opacity: 1;
}
#id-FRAME-147-4380{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 228px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4381{
transform: rotate(0deg);
position: absolute;
width: 163.5px;
height: 228px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4383{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-4384{
transform: rotate(0deg);
position: absolute;
width: 53px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4390{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4396{
transform: rotate(0deg);
position: absolute;
width: 67px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4402{
transform: rotate(0deg);
position: absolute;
width: 64px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4408{
transform: rotate(0deg);
position: absolute;
width: 65px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4414{
transform: rotate(0deg);
position: absolute;
width: 163.5px;
height: 228px;
left: 179.5px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-4416{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-4417{
transform: rotate(0deg);
position: absolute;
width: 47px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4423{
transform: rotate(0deg);
position: absolute;
width: 61px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4429{
transform: rotate(0deg);
position: absolute;
width: 44px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4435{
transform: rotate(0deg);
position: absolute;
width: 34px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4441{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4447{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 188px;
left: 0px;
top: 260px;
opacity: 1;
}
#id-FRAME-147-4449{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 144px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-4450{
transform: rotate(0deg);
position: absolute;
width: 92px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4456{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4462{
transform: rotate(0deg);
position: absolute;
width: 100px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4468{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4474{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 172px;
left: 0px;
top: 480px;
opacity: 1;
}
#id-FRAME-147-4476{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 128px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-4477{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4478{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4483{
transform: rotate(0deg);
position: absolute;
width: 163px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4484{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4489{
transform: rotate(0deg);
position: absolute;
width: 226px;
height: 48px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-4490{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 14px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-4495{
transform: rotate(-9.826939576278036e-14deg);
position: absolute;
width: 343px;
height: 1px;
left: 0px;
top: 883.9999999999998px;
opacity: 1;
background: rgba(228,231,236,1.00);
}
#id-FRAME-147-4496{
transform: rotate(0deg);
position: absolute;
width: 343px;
height: 60px;
left: 0px;
top: 917px;
opacity: 1;
}
#id-FRAME-147-4498{
transform: rotate(0deg);
position: absolute;
width: 265px;
height: 24px;
left: 39px;
top: 36px;
opacity: 1;
}
