@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
#id-FRAME-147-3375{
transform: rotate(0deg);
position: relative;
width: 768px;
height: 7497.5px;
left: 0px;
top: 0px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3376{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 958px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
overflow: hidden;
}
#id-FRAME-147-3377{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 64px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3378{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 64px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3379{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 32px;
top: 10px;
opacity: 1;
}
#id-FRAME-147-3380{
transform: rotate(0deg);
position: absolute;
width: 199px;
height: 39.5121955871582px;
left: 0px;
top: 2.2439022064208984px;
opacity: 1;
}
#id-FRAME-147-3385{
transform: rotate(0deg);
position: absolute;
width: 149.490966796875px;
height: 24.83403205871582px;
left: 45.77000045776367px;
top: 7.098159313201904px;
opacity: 1;
}
#id-FRAME-147-3387{
transform: rotate(0deg);
position: absolute;
width: 172px;
height: 44px;
left: 532px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3388{
transform: rotate(0deg);
position: absolute;
width: 116px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3389{
transform: rotate(0deg);
position: absolute;
width: 116px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3395{
transform: rotate(0deg);
position: absolute;
width: 44px;
height: 44px;
left: 128px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: 127px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3396{
transform: rotate(0deg);
position: absolute;
width: 26.400001525878906px;
height: 26.400001525878906px;
left: 8.800000190734863px;
top: 8.800000190734863px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3398{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 894px;
left: 0px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3399{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 830px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3400{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 368px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3401{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 368px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3402{
transform: rotate(0deg);
position: absolute;
width: 274px;
height: 6px;
left: 37px;
top: 115px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3404{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 192px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3407{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 128px;
left: 0px;
top: 240px;
opacity: 1;
}
#id-FRAME-147-3408{
transform: rotate(0deg);
position: absolute;
width: 282px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3409{
transform: rotate(0deg);
position: absolute;
width: 117px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3415{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 40px;
left: 129px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: 128px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3416{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 10px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3421{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 64px;
left: 0px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3423{
transform: rotate(0deg);
position: absolute;
width: 140px;
height: 28px;
left: 0px;
top: 36px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3424{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3426{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 28px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3428{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 56px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3430{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 84px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3432{
transform: rotate(0deg);
position: absolute;
width: 28px;
height: 28px;
left: 112px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3434{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 398px;
left: 0px;
top: 432px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3436{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1553.5px;
left: 0px;
top: 958px;
opacity: 1;
background: rgba(255,255,255,1.00);
overflow: hidden;
}
#id-FRAME-147-3437{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1553.5px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3438{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 1400px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3439{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 180px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3440{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 116px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-3441{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 116px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3442{
transform: rotate(0deg);
position: absolute;
width: 107px;
height: 24px;
left: 298.5px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3444{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 84px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3445{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 84px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3467{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 564px;
left: 0px;
top: 204px;
opacity: 1;
}
#id-FRAME-147-3468{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 564px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3469{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 188px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3470{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3471{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-3472{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3474{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-3483{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 188px;
left: 0px;
top: 188px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3484{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3485{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-3486{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3488{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-3497{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 188px;
left: 0px;
top: 376px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3498{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 140px;
left: 24px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3499{
transform: rotate(0deg);
position: absolute;
width: 40px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:12px;
border-top-left-radius:12px;
border-top-right-radius:12px;
border-bottom-left-radius:12px;
border-bottom-right-radius:12px;
}
#id-FRAME-147-3500{
transform: rotate(0deg);
position: absolute;
width: 23.333332061767578px;
height: 23.333332061767578px;
left: 8.333333015441895px;
top: 8.333333015441895px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3502{
transform: rotate(0deg);
position: absolute;
width: 656px;
height: 84px;
left: 0px;
top: 56px;
opacity: 1;
}
#id-FRAME-147-3511{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 608px;
left: 0px;
top: 792px;
opacity: 1;
}
#id-FRAME-147-3512{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 608px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3513{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 562px;
left: 56px;
top: 23px;
opacity: 1;
}
#id-FRAME-147-3514{
transform: rotate(0deg);
position: absolute;
width: 280px;
height: 562px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3517{
transform: rotate(0deg);
position: absolute;
width: 280px;
height: 562px;
left: 312px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3520{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 408px;
left: 0px;
top: 2511.5px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3521{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 408px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3522{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 280px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3523{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 280px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3524{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 196px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3525{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 128px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3528{
transform: rotate(0deg);
position: absolute;
width: 592px;
height: 36px;
left: 56px;
top: 160px;
opacity: 1;
}
#id-FRAME-147-3529{
transform: rotate(0deg);
position: absolute;
width: 184px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3530{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-3531{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3534{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 36px;
left: 216px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3535{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-3536{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3539{
transform: rotate(0deg);
position: absolute;
width: 191px;
height: 36px;
left: 401px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3540{
transform: rotate(0deg);
position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:500px;
border-top-left-radius:500px;
border-top-right-radius:500px;
border-bottom-left-radius:500px;
border-bottom-right-radius:500px;
}
#id-FRAME-147-3541{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 8px;
top: 8px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3544{
transform: rotate(0deg);
position: absolute;
width: 307px;
height: 44px;
left: 198.5px;
top: 236px;
opacity: 1;
}
#id-FRAME-147-3545{
transform: rotate(0deg);
position: absolute;
width: 129px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3551{
transform: rotate(0deg);
position: absolute;
width: 166px;
height: 44px;
left: 141px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3552{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 12px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3557{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1224px;
left: 0px;
top: 2919.5px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3558{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1224px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3559{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 1096px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3560{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 176px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3561{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-3562{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3565{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3566{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3569{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 896px;
left: 0px;
top: 200px;
opacity: 1;
}
#id-FRAME-147-3570{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 636px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3571{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 92px;
left: 0px;
top: 0px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: -1px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3572{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3574{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 616px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3576{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 204px;
left: 0px;
top: 108px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 107px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3577{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 140px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3578{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 28px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3580{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 616px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3583{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 92px;
left: 0px;
top: 328px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 327px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3584{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3586{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 616px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3588{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 92px;
left: 0px;
top: 436px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 435px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3589{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3591{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 616px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3593{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 92px;
left: 0px;
top: 544px;
opacity: 1;
border: 1px solid rgba(206,210,218,1.00);

left: -1px !important;
top: 543px !important;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3594{
transform: rotate(0deg);
position: absolute;
width: 640px;
height: 28px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3596{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 616px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3598{
transform: rotate(0deg);
position: absolute;
width: 527px;
height: 220px;
left: 88.5px;
top: 676px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:20px;
border-top-left-radius:20px;
border-top-right-radius:20px;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}
#id-FRAME-147-3599{
transform: rotate(0deg);
position: absolute;
width: 463px;
height: 80px;
left: 32px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3602{
transform: rotate(0deg);
position: absolute;
width: 153px;
height: 44px;
left: 187px;
top: 144px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3603{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 20px;
top: 12px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3608{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1769px;
left: 0px;
top: 4143.5px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3609{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 1769px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3610{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 1641px;
left: 32px;
top: 64px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3611{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 208px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3612{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 144px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-3613{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 144px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3614{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 327px;
top: 0px;
opacity: 1;
background: rgba(239,245,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3616{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 32px;
opacity: 1;
}
#id-FRAME-147-3617{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3639{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 1433px;
left: 0px;
top: 208px;
opacity: 1;
}
#id-FRAME-147-3640{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 419px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3642{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 206px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3643{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 158px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3644{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3646{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3649{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 110px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-3650{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 66px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3653{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 20px;
left: 0px;
top: 90px;
opacity: 1;
}
#id-FRAME-147-3654{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3656{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3658{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3660{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3662{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 451px;
left: 0px;
top: 451px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3664{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 238px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3665{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 190px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3666{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3668{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3671{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 142px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-3672{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 98px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3675{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 20px;
left: 0px;
top: 122px;
opacity: 1;
}
#id-FRAME-147-3676{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3678{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3680{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3682{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3684{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 419px;
left: 0px;
top: 934px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3686{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 206px;
left: 0px;
top: 213px;
opacity: 1;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
overflow: hidden;
}
#id-FRAME-147-3687{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 158px;
left: 16px;
top: 24px;
opacity: 1;
}
#id-FRAME-147-3688{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 36px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3690{
transform: rotate(0deg);
position: absolute;
width: 90px;
height: 36px;
left: 40px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3693{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 110px;
left: 0px;
top: 48px;
opacity: 1;
}
#id-FRAME-147-3694{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 66px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3697{
transform: rotate(0deg);
position: absolute;
width: 672px;
height: 20px;
left: 0px;
top: 90px;
opacity: 1;
}
#id-FRAME-147-3698{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 20px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(229,239,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3700{
transform: rotate(0deg);
position: absolute;
width: 54px;
height: 20px;
left: 54px;
top: 0px;
opacity: 1;
background: rgba(229,244,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3702{
transform: rotate(0deg);
position: absolute;
width: 85px;
height: 20px;
left: 112px;
top: 0px;
opacity: 1;
background: rgba(229,248,255,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3704{
transform: rotate(0deg);
position: absolute;
width: 31px;
height: 20px;
left: 201px;
top: 0px;
opacity: 1;
background: rgba(242,244,247,1.00);
border-radius:150px;
border-top-left-radius:150px;
border-top-right-radius:150px;
border-bottom-left-radius:150px;
border-bottom-right-radius:150px;
}
#id-FRAME-147-3706{
transform: rotate(0deg);
position: absolute;
width: 130px;
height: 48px;
left: 287px;
top: 1385px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3712{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 372px;
left: 0px;
top: 5912.5px;
opacity: 1;
background: rgba(239,245,255,1.00);
overflow: hidden;
}
#id-FRAME-147-3713{
transform: rotate(6.3611093629270335e-15deg);
position: absolute;
width: 634px;
height: 555px;
left: 425px;
top: -90.99999999999994px;
opacity: 0.3499999940395355;
background: transparent;
}
#id-FRAME-147-3715{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 372px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3716{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 244px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3717{
transform: rotate(0deg);
position: absolute;
width: 692px;
height: 160px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3718{
transform: rotate(0deg);
position: absolute;
width: 692px;
height: 160px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3721{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 0px;
top: 200px;
opacity: 1;
}
#id-FRAME-147-3722{
transform: rotate(0deg);
position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3723{
transform: rotate(0deg);
position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3725{
transform: rotate(0deg);
position: absolute;
width: 320px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3726{
transform: rotate(0deg);
position: absolute;
width: 300px;
height: 24px;
left: 12px;
top: 10px;
opacity: 1;
}
#id-FRAME-147-3733{
transform: rotate(0deg);
position: absolute;
width: 119px;
height: 44px;
left: 336px;
top: 0px;
opacity: 1;
background: rgba(25,117,254,1.00);
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3739{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 568px;
left: 0px;
top: 6284.5px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3740{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 568px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3741{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 440px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3742{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 108px;
left: 0px;
top: 0px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3743{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 0px;
top: 16px;
opacity: 1;
}
#id-FRAME-147-3744{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3747{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3748{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 44px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3751{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 308px;
left: 0px;
top: 132px;
opacity: 1;
}
#id-FRAME-147-3752{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 308px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3753{
transform: rotate(0deg);
position: absolute;
width: 720px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3754{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3755{
transform: rotate(0deg);
position: absolute;
width: 163.17047119140625px;
height: 32px;
left: 98.41476440429688px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3758{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 360px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3759{
transform: rotate(0deg);
position: absolute;
width: 189.3333282470703px;
height: 32px;
left: 85.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3762{
transform: rotate(0deg);
position: absolute;
width: 720px;
height: 32px;
left: 0px;
top: 92px;
opacity: 1;
}
#id-FRAME-147-3763{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3764{
transform: rotate(0deg);
position: absolute;
width: 173.3333282470703px;
height: 32px;
left: 93.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3767{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 360px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3768{
transform: rotate(0deg);
position: absolute;
width: 148px;
height: 32px;
left: 106px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3771{
transform: rotate(0deg);
position: absolute;
width: 720px;
height: 32px;
left: 0px;
top: 184px;
opacity: 1;
}
#id-FRAME-147-3772{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3773{
transform: rotate(0deg);
position: absolute;
width: 157.3333282470703px;
height: 32px;
left: 101.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3776{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 360px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3777{
transform: rotate(0deg);
position: absolute;
width: 181.3333282470703px;
height: 32px;
left: 89.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3780{
transform: rotate(0deg);
position: absolute;
width: 720px;
height: 32px;
left: 0px;
top: 276px;
opacity: 1;
}
#id-FRAME-147-3781{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3782{
transform: rotate(0deg);
position: absolute;
width: 174.6666717529297px;
height: 32px;
left: 92.66666412353516px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3785{
transform: rotate(0deg);
position: absolute;
width: 360px;
height: 32px;
left: 360px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3786{
transform: rotate(0deg);
position: absolute;
width: 213.3333282470703px;
height: 32px;
left: 73.33333587646484px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3795{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 645px;
left: 0px;
top: 6852.5px;
opacity: 1;
background: rgba(255,255,255,1.00);
}
#id-FRAME-147-3796{
transform: rotate(0deg);
position: absolute;
width: 768px;
height: 645px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3797{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 517px;
left: 32px;
top: 64px;
opacity: 1;
}
#id-FRAME-147-3798{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 517px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3799{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 168px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3800{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 168px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3801{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 168px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3802{
transform: rotate(0deg);
position: absolute;
width: 316px;
height: 112px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3803{
transform: rotate(0deg);
position: absolute;
width: 200px;
height: 40px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3808{
transform: rotate(0deg);
position: absolute;
width: 150.2421875px;
height: 25.140625px;
left: 46px;
top: 7.185791015625px;
opacity: 1;
}
#id-FRAME-147-3811{
transform: rotate(0deg);
position: absolute;
width: 132px;
height: 24px;
left: 0px;
top: 144px;
opacity: 1;
}
#id-FRAME-147-3812{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-147-3813{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-147-3814{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
.RECTANGLE-147-3815{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:6px;
border-top-left-radius:6px;
border-top-right-radius:6px;
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-3817{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 36px;
top: 0px;
opacity: 1;
}
.ELLIPSE-147-3818{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:50%;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-3820{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 72px;
top: 0px;
opacity: 1;
background: transparent;
}
#id-FRAME-147-3822{
transform: rotate(0deg);
position: absolute;
width: 24px;
height: 24px;
left: 108px;
top: 0px;
opacity: 1;
background: transparent;
}
.RECTANGLE-147-3823{
position:absolute;
left: 1.5px;
top: 1.5px;
transform: rotate(0deg);
transform-origin: center !important;
background: rgba(151,161,175,1.00);

border-radius:56px;
border-top-left-radius:56px;
border-top-right-radius:56px;
border-bottom-left-radius:56px;
border-bottom-right-radius:56px;


width: 21px;
height: 21px;
opacity: 1;
}
#id-FRAME-147-3825{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 228px;
left: 0px;
top: 200px;
opacity: 1;
}
#id-FRAME-147-3826{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 228px;
left: 0px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3828{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-3829{
transform: rotate(0deg);
position: absolute;
width: 53px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3835{
transform: rotate(0deg);
position: absolute;
width: 101px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3841{
transform: rotate(0deg);
position: absolute;
width: 67px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3847{
transform: rotate(0deg);
position: absolute;
width: 64px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3853{
transform: rotate(0deg);
position: absolute;
width: 65px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3859{
transform: rotate(0deg);
position: absolute;
width: 84px;
height: 228px;
left: 160.3333282470703px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3861{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 184px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-3862{
transform: rotate(0deg);
position: absolute;
width: 47px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3868{
transform: rotate(0deg);
position: absolute;
width: 61px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3874{
transform: rotate(0deg);
position: absolute;
width: 44px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3880{
transform: rotate(0deg);
position: absolute;
width: 34px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3886{
transform: rotate(0deg);
position: absolute;
width: 62px;
height: 24px;
left: 0px;
top: 160px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3892{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 188px;
left: 303.6666564941406px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3894{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 144px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-3895{
transform: rotate(0deg);
position: absolute;
width: 92px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3901{
transform: rotate(0deg);
position: absolute;
width: 50px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3907{
transform: rotate(0deg);
position: absolute;
width: 100px;
height: 24px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3913{
transform: rotate(0deg);
position: absolute;
width: 103px;
height: 24px;
left: 0px;
top: 120px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3919{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 172px;
left: 466px;
top: 0px;
opacity: 1;
}
#id-FRAME-147-3921{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 128px;
left: 0px;
top: 44px;
opacity: 1;
}
#id-FRAME-147-3922{
transform: rotate(0deg);
position: absolute;
width: 238px;
height: 24px;
left: 0px;
top: 0px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3923{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3928{
transform: rotate(0deg);
position: absolute;
width: 163px;
height: 24px;
left: 0px;
top: 40px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3929{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 2px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3934{
transform: rotate(0deg);
position: absolute;
width: 226px;
height: 48px;
left: 0px;
top: 80px;
opacity: 1;
border-radius:8px;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}
#id-FRAME-147-3935{
transform: rotate(0deg);
position: absolute;
width: 20px;
height: 20px;
left: 0px;
top: 14px;
opacity: 1;
overflow: hidden;
}
#id-FRAME-147-3940{
transform: rotate(-9.826939576278036e-14deg);
position: absolute;
width: 704px;
height: 1px;
left: 0px;
top: 459.99999999999943px;
opacity: 1;
background: rgba(228,231,236,1.00);
}
#id-FRAME-147-3941{
transform: rotate(0deg);
position: absolute;
width: 704px;
height: 24px;
left: 0px;
top: 493px;
opacity: 1;
}
#id-FRAME-147-3943{
transform: rotate(0deg);
position: absolute;
width: 265px;
height: 24px;
left: 439px;
top: 0px;
opacity: 1;
}
